<!-- <nb-card>
  <nb-card-header>IKU</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">IKU
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.ikuSelected">
              <option *ngFor="let data of formData.ikuData" value="{{data.KODE_IKU}}">{{data.KODE_IKU+" "+data.DESKRIPSI}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tahun
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <input class="form-control" [(ngModel)]="formData.yearPeriode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Periode
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.periodeSelected">
              <option *ngFor="let data of formData.periode" value="{{data.id}}">{{data.desc}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Threshold

          </label>
          <div class="col-sm-3">
            <input class="form-control" [(ngModel)]="formData.threshold">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Indicator ID
          </label>
          <div class="col-sm-6">
            <input class="form-control" [(ngModel)]="formData.indicatorId" readonly="true">
          </div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success" [disabled]="!formData.ikuSelected||!formData.yearPeriode||!formData.periodeSelected"
          (click)="generateDetail()">Input Detail</button>
      </div>
    </div>

    <div class="form-group">
      <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="editConfirm($event)" >
      </ng2-smart-table>
    </div>
    <div class="form-group row">
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success " [disabled]="!formData.ikuSelected||!formData.yearPeriode||!formData.periodeSelected"
          (click)="save()">Submit</button>
      </div>

    </div>
  </nb-card-body>
</nb-card> -->

<nb-card>
    <nb-card-body>
      On Progress
  </nb-card-body>
  </nb-card>