<nb-card>
  <nb-card-header>Assignment Barang</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Kategori
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.kategori" (change)="refreshOption()">
              <option value="1">ATK</option>
              <option value="2">NON-ATK</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Jenis Barang
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.barang">
              <option *ngFor="let data of barangFiltered" value="{{data.KD_BARANG}}">{{data.KD_BARANG+"
                "+data.NM_BARANG}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Merk Barang
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.merk">
              <option *ngFor="let data of merk" value="{{data.KD_MERK}}">{{data.KD_MERK+"
                "+data.NM_MERK}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Serial Number
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <input class="form-control" [(ngModel)]="formData.serialNumber" [disabled]="formData.kategori=='1'">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Quantity
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <input class="form-control" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',',precision:'0' }"
              [(ngModel)]="formData.qty">
          </div>
        </div>
        <div class="demo-radio col-sm-12">
          <div class="row">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio" [value]="true" [(ngModel)]="formData.peruntukkan">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Individu</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" [value]="false" checked [(ngModel)]="formData.peruntukkan">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Department</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nama Pegawai
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.team" [disabled]="!formData.peruntukkan">
              <option *ngFor="let data of team | orderBy " value="{{data}}">{{data}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Department
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <input class="form-control" [(ngModel)]="formData.department" [disabled]="formData.peruntukkan">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Status
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.status" [disabled]="!formData.peruntukkan">
              <option value="Baru">Baru</option>
              <option value="Bekas">Bekas</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tanggal Diberikan
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateAssignment" required></my-date-picker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Keterangan
            <font color="red">*</font>
          </label>
          <div class="col-sm-6">
            <input class="form-control" [(ngModel)]="formData.keterangan">
          </div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success " (click)="updateData()">Submit</button>
      </div>

    </div>
  </nb-card-body>
</nb-card>
