<nb-card>
  <nb-card-header>Report ATK</nb-card-header>
  <nb-card-body>
    <!-- <div class="row">
      <div class="col-sm-8">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tahun
            <font color="red">*</font>
          </label>
          <div class="col-sm-2">
            <input class="form-control" [(ngModel)]="formData.yearPeriode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tahun
            <font color="red">*</font>
          </label>
          <div class="col-sm-2">
            <input class="form-control" [(ngModel)]="formData.yearPeriode">
          </div>
        </div>
      </div>

    </div> -->

    <!-- <div class="form-group row">
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success" [disabled]="!formData.ikuSelected||!formData.yearPeriode||!formData.periodeSelected"
          (click)="generateDetail()">Get Data</button>
      </div>
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success" (click)="showModal()">Add Data</button>
    </div>
    
    </div> -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tanggal Pesan
        <font color="red">*</font>
      </label>
      <div class="col-sm-6">
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateAssignment" required></my-date-picker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nama Pegawai
        <font color="red">*</font>
      </label>
      <div class="col-sm-6">
        <select name="risk_level" class="form-control" [(ngModel)]="formData.team" (change)="refreshData()">
          <option *ngFor="let data of team | orderBy " value="{{data}}">{{data}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="create($event)"
        (userRowSelect)="changeApproveprint($event)">
      </ng2-smart-table>
    </div>
    <div class="form-group row">
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success " (click)="approve()" [disabled]="user.TEAM!='admin'">Approve</button>
      </div>
      <div class="col-sm-auto">
        <button type=" button " class="btn btn-success " (click)="updateData()" [disabled]="print">Print</button>
      </div>
    </div>

  </nb-card-body>
</nb-card>
