<nb-card>
  <nb-card-header>IKU Indicator Strategic</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">IKU
            <font color="red">*</font>
          </label>
          <div class="col-sm-9">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.ikuSelected">
              <option *ngFor="let data of formData.ikuData" value="{{data.KODE_IKU}}">{{data.KODE_IKU+" "+data.DESKRIPSI}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Tahun
            <font color="red">*</font>
          </label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="formData.yearPeriode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Periode
            <font color="red">*</font>
          </label>
          <div class="col-sm-9">
            <select name="risk_level" class="form-control" [(ngModel)]="formData.periodeSelected">
              <option *ngFor="let data of formData.periode" value="{{data.id}}">{{data.desc}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-auto">
            <button type=" button " class="btn btn-success " (click)="getData()" [disabled]="!formData.ikuSelected||!formData.yearPeriode||!formData.periodeSelected">Get Data</button>
          </div>
          <div class="col-sm-auto">
            <button type=" button " class="btn btn-success" (click)="showModal()">Add Data</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Indicator Description
          </label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="formData.indicatorDescription" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Realisasi Description

          </label>
          <div class="col-sm-9">
            <input class="form-control" [class.green]="isDisabled" [(ngModel)]="formData.realisasiDescription" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Threshold
          </label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="formData.threshold" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Indicator ID
          </label>
          <div class="col-sm-9">
            <input class="form-control" [(ngModel)]="formData.indicatorId" readonly="true" disabled>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
