<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo">
      <a href="/#/pages/dashboard">
        <img src="../../../../assets/logo.png" alt="logo" height="70px" width="auto">
      </a>
    </div>
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>

<nb-actions size="medium" class="header-container" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
  <nb-action *nbIsGranted="['view', 'user']">
    <nb-user [nbContextMenu]="userMenu" [name]="user.USER_NAME" (menuClick)="onMenuClick($event)" (click)="onMenuClick($event)"></nb-user>
  </nb-action>
</nb-actions>
